<h2>List/Edit:</h2><br><br>
<body>
<h4>{{Name}}</h4>
    <h4>{{LastName}}</h4>
    FirstName:<input type="text" [(ngModel)]="Name"><br><br>
    LastName:<input type="text"  [(ngModel)]="LastName"><br><br>
    Gender:<select name="dropdown">
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
    </select><br><br>
    Email:<input type="text" value="Enter your email here"><br><br>
    Address:<input type="text" value="Address"><br><br>
    <input type="submit"  value="Submit">
    <input type="reset"  value="Cancel">

</body>


